<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <header class="navbar navbar-inverse navbar-fixed-top p-1 text-bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="text-white">
                    <p class="m-0">
                        <b id="header-email">Email@email.com</b> with roles:
                        <span id="header-roles">ROLES</span>
                    </p>
                </div>
            </div>
                <form class="text-end" th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn text-white-50">Logout</button>
                </form>
        </div>
    </header>
</th:block>
