<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="side-menu">
    <ul class="nav nav-pills flex-column mb-auto pt-3">
        <li class="nav-item" id="menu-admin-button">
            <a href="/admin" class="nav-link">
                <span class="m-2">Admin</span>
            </a>
        </li>
        <li class="nav-item" id="menu-user-button">
            <a href="/user" class="nav-link">
                <span class="m-2">User</span>
            </a>
        </li>
    </ul>
</th:block>